@import url(./fonts.css);

* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h1 {
  margin: 30px 0;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

header h1 {
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgba(241, 85, 37, 1);
}


.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1280px;
}

.header {
  height: 1fr;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  background: radial-gradient(circle at 80% 50%,
      rgba(234, 242, 245, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(234, 242, 245, 1) 10%,
      rgba(255, 255, 255, 1) 25%,
      rgba(234, 242, 245, 1) 25%,
      rgba(255, 255, 255, 1) 50%,
      rgba(234, 242, 245, 1) 50%,
      rgba(255, 255, 255, 1) 75%,
      rgba(234, 242, 245, 1) 75%,
      rgba(255, 255, 255, 1) 100%,
      rgba(234, 242, 245, 1) 75%);

}



.main {
  height: 2fr;
}

.footer {
  height: 200px;
}

.nav-wrapper {
  margin-left: 20px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 30px;
  width: 80vw;
  background-color: rgb(255, 255, 255);

}

.nav-item {

  list-style-type: none;
}

.nav-item .item5,
.item6 {
  margin-left: auto;
}

.item1,
.item2,
.item3,
.item4 {

  margin-right: 10px;
}

.item7>a {
  color: rgb(255, 255, 255);
}

.item7 {
  padding: 5px 8px;
  background-color: rgba(56, 191, 242, 1);
  border: none;
  border-radius: 20px;
}

.item7:hover {
  cursor: pointer;
color: rgb(0, 0, 0);
}


.header-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  max-width: 80%;
  word-wrap: break-word;
  flex-shrink: 2;
}

.line1 {
  width: 100%;
  height: 1px;
  background-color: rgb(222, 222, 222);
}

.header-img {
  margin: 20px;
  max-width: 100%;
}

.colortext {
  color: rgba(241, 85, 37, 1);
}

.italictext {
  font-style: italic;
}

.test-button,
.vid-button,
.price-button {
  background-color: rgba(241, 85, 37, 1);
  width:
    199.91px;
  height: 54.78px;
  margin: 0 10px;
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
}

.test-button:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.tech-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
  padding: 10px;
  max-width: 100%;
  background-color:
    rgb(234, 242, 245);
  border-radius: 50px;
}

.tech-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding: 0px;
}

.tech-img {
  flex-shrink: 1;
}

.tech-item-list {
  border: none;
  border-radius: 44px;
  padding: 11px;
  margin: 10px;
  text-align: center;
}

.tech-list0 {
  background-color: rgba(80, 150, 255, 1);
  color: rgb(255, 255, 255);
}

.tech-list1 {
  background-color:
    rgba(255, 179, 89, 1);
  color: rgb(255, 255, 255);
}

.tech-list2 {
  background-color: rgba(255, 111, 80, 1);
  color: rgb(255, 255, 255);
}

.tech-list3 {
  background-color: rgba(75, 208, 113, 1);
  color: rgb(255, 255, 255);
}

.tech-list4 {
  background-color: rgba(80, 192, 255, 1);
  color: rgb(255, 255, 255);
}

.tech-list5 {
  background-color: rgba(75, 119, 185, 1);
  color: rgb(255, 255, 255);
}

.tech-list6 {
  background-color: rgba(175, 147, 255, 1);
  color: rgb(255, 255, 255);
}

.tech-list7 {
  text-align: left;
}

.advantage-block {
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 60px 60px;
}

.advantage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.advantage-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-shrink: 1;
  gap: 10px;
  padding: 10px;
  max-width: min-content;
  min-width: 220px;
  min-height: 220px;
  background-color: rgb(234, 242, 245);
  border-radius: 30px;
  text-align: center;
}

.advantage-item:hover {
  cursor: pointer;
  border: 1px solid #333;
  box-shadow: 8px 10px 5px 2px rgba(255, 111, 80, 1);
}

.adv-item7 {
  align-self: center;
}

.video-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 20px;
}

.video-wrapper {
  border: 1px solid rgb(222, 222, 222);

  border-radius: 30px;
  margin-top: 20px;
  padding: 0 30px;
  background-color: rgb(255, 255, 255);
}

.video-footer {
  width: 370px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(222, 222, 222);
}

.vid-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 30px;
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 30px;
}

.vid-info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  margin: 10px;
  max-width: 250px;
  border-right: 1px solid rgb(222, 222, 222);
  text-align: start;
}

.vid-item3 {
  border: 1px solid white;
}

.vid-info-item-tex1 {
  align-self: flex-start;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 900;
  color: rgba(56, 191, 242, 1);
}

.vid-info-item-tex2 {
  font-weight: 700;
}

.vid-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  max-width: 40%;
}

.vid-button-text {
  width: 50%;
}

.background {
  margin: 0;
  padding: 50px;
  background: radial-gradient(circle at 50% 0,

  rgba(234, 242, 245, 1) 5%,
  rgba(255, 255, 255, 1) 10%,
  rgba(234, 242, 245, 1) 10%,
  rgba(255, 255, 255, 1) 20%,
  rgba(234, 242, 245, 1 ) 20%,
  rgba(255, 255, 255, 1) 30%,
  rgba(234, 242, 245, 1 ) 30%,
  rgba(255, 255, 255, 1) 50%,
  rgba(249, 249, 253, 1) 50%,
  rgba(249, 249, 253, 1) 100%
 );
}

.info-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.info-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  max-width: max-content;
  min-width: 220px;
  min-height: 230px;
  border-radius: 50px;
  background-color: rgba(234, 242, 245, 1);
  
}


.info-item2,
.info-item3 {
  width: 60%;
}

.price-block {
  display: flex;
  flex-direction: column;
}

.price-info,
.price-info-item,
.price-last-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.price-table {
  width: 100%;
	border: none;
	margin: 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}

thead{
  text-align: left;
  margin: 20px;
  padding: 30px;
  color: rgba(56, 191, 242, 1);
}

table tbody td{
  vertical-align: middle;
  padding: 10px;
}

table tbody tr:nth-child(odd) {
 border-radius: 50px;
  background: #F8F8F8;
}

 table tfoot tr {
  font-size: 18px;
  font-weight: 700;
  margin: 20px;
  padding: 20px;
}

.price-text {

  margin: 10px 20px;
  color: rgba(142, 142, 142, 1);
}

.price-last-block {
  border-radius: 30px;
background-color: rgba(234, 242, 245, 1);
}

.price-last-block-item {
  margin: 18px 12px;
}

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color:rgba(249, 249, 253, 1);
}

.footer-part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.footer-part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-item1 {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) and (orientation: portrait) {

  .header-text,
  .test-button,
  .line1,
  p {
    margin: 0 auto;
    width: 80%;
  }
}


@media screen and (max-width: 768px) and (orientation: portrait) {

  .tech-img,
  .tech-list7 {
    display: none;
  }
}


@media screen and (max-width: 768px) and (orientation: portrait) {
  .item-list {
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .vid-info-item {
    border-right: none;
    border-bottom: 1px solid rgb(222, 222, 222);
  }

  .vid-item3, .vid-item2 {
   display: none;
  }

  .vid-item3 {
    border: none;
  }
  
  .vid-item4, .vid-item5 {
    display: flex;
  }
}

@media screen and (min-width: 768px)  {
  .vid-item4, .vid-item5 {
    display: none;
  } 
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .vid-button-wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {

  .info-item,
  .price-info,
  .price-info-item,
  .price-last-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
}